<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>singbox-gui</vendor>
  <vendor_url>https://sing-box.sagernet.org</vendor_url>
  <icon_name>network-vpn</icon_name>

  <action id="org.singbox.gui.manage">
    <description>Manage sing-box service and configuration</description>
    <message>Manage sing-box service and configuration</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/singbox-gui/singbox-gui-helper</annotate>
  </action>
</policyconfig>
